---
---
article, article>main {
    display: contents;
    text-align: justify;
}

article>header>h1 {
    margin-bottom: 0.1lh;
}

article>nav {
    background: var(--panel);
    grid-column: breakout;
    padding-bottom: 1rlh;
    
    li {
        margin-top: .5lh;
    }

    a {
        text-decoration: none;
    }

    a[href="#"] {
        display: none;
    }

    ol {
        list-style: none;
    }

    >ol {
        padding: 0;
    }

    >* {
        margin-inline: var(--gutter);
    }
}

@media (min-width: 160ch) {
    article>nav {
        grid-column: left;
        grid-row: 1 / 9999;
        height: fit-content;
        justify-self: end;
        margin-right: var(--gutter);
        position: sticky;
        top: 1rlh;
        min-width: 30ch;
        width: fit-content;
        overflow-y: scroll;
        max-height: 80svh;

        a[href="#"] {
            display: initial;
        }

        >* {
            margin-inline: 1rlh !important;
        }
    }
}

.footnote, .footnote:visited, .reversefootnote, .reversefootnote:visited {
    color: var(--accent);
    text-decoration: none;
}

article > footer {
    margin-top: 1rlh;

    dl, dt, dd {
        display: inline;
    }

    > ol {
        list-style-position: inside;
        padding: 0;
    }

    li > p {
        display: inline;
    }
}

