---
layout: default
styles:
    - href: /styles/article.css
---
{% assign author = site.data.authors[page.author] %}
{% assign parts = content | split: '<div class="footnotes" role="doc-endnotes">' %}
{% assign contents = parts[0] | split: site.excerpt_separator %}
{% assign abstract = contents[0] %}
{% assign content = contents[1] %}
{% assign footer = parts[1] | remove: '</div>' | remove: ' role="doc-endnote"' %}
<article>
    <header>
        <hgroup>
            <h1>{{ page.title }}</h1>
            <p>
                {{ page.subtitle }}
                {% if page.subtitle != nil %}&mdash;{% endif %}
                <time datetime="{{ page.date | date_to_xmlschema }}">
                    {{ page.date | date_to_string }}
                </time>
                &mdash;
                <a rel="author" href="{{ author.url }}">{{ page.author }}</a>
            </p>
        </hgroup>
        {{ abstract }}
    </header>
    <nav>
        <h2>Contents</h2>
        <a href="#">(Top)</a>
        {% include toc.html html=content ordered=true %}
        {% if footer != "" %}
        <a href="#footnotes">Footnotes</a>
        {% endif %}
    </nav>
    <section>{{ content }}</section>
    {% if footer != "" %}
    <footer>
        <h2 id="footnotes">Footnotes</h2>
        {{ footer }}
    </footer>
    {% endif %}
</article>
