---
---
article {
    display: contents;
    text-align: justify;
}

@scope (article) {
    section {
        display: contents;
    }

    header>h1 {
        margin-bottom: 0.1lh;
    }

    header address {
        display: inline;
    }

    nav {
        display: grid;
        grid-column: breakout;
        margin-block: 1rlh;

        h2 {
            margin-block: 0;
        }

        a {
            display: block;
            margin-top: .5lh;
            text-decoration: none;
        }

        a[href="#"] {
            display: none;
        }

        ol {
            list-style: none;
        }

        >ol {
            padding: 0;
        }

        >* {
            grid-column: content;
        }
    }

    @media (min-width: 160ch) {
        nav {
            grid-column: left;
            grid-row: 1 / 9999;
            height: fit-content;
            position: sticky;
            margin-top: 2rlh;
            top: 1rlh;
            width: fit-content;
            overflow-y: scroll;
            max-height: 80svh;

            a[href="#"] {
                display: initial;
            }
        }
    }

    .footnote, .footnote:visited, .reversefootnote, .reversefootnote:visited {
        color: var(--accent);
        text-decoration: none;
    }

    footer {
        dl, dt, dd {
            display: inline;
        }

        > ol {
            list-style-position: inside;
            padding: 0;
        }

        li > p {
            display: inline;
        }
    }
}
