---
---
article {
    display: contents;
    text-align: justify;
}

@scope (article) {
    section {
        display: contents;
    }

    header>h1 {
        margin-bottom: 0.1lh;
    }

    header>p::first-letter {
        float: inline-start;
        font-family: "Roboto Mono", monospace;
        font-weight: bold;
        font-size: 3.5lh;
        margin-right: .2rem;
        margin-top: .35rem;
        color: var(--heading);
    }

    nav {
        display: grid;
        grid-column: breakout;
        margin-block: 1rlh;

        h2 {
            margin: 0;
        }

        li {
            margin: 0;
        }

        a {
            display: block;
            margin-top: .5lh;
            text-decoration: none;
            width: fit-content;

            &:hover {
                text-decoration: underline;
            }
        }

        a[href="#"] {
            display: none;
        }

        ol {
            list-style: none;
        }

        >ol {
            padding: 0;
        }

        >* {
            grid-column: content;
        }
    }

    @media (min-width: 160ch) {
        nav {
            grid-column: left;
            grid-row: 1 / 9999;
            height: fit-content;
            position: sticky;
            margin-top: 2rlh;
            top: 1rlh;
            width: fit-content;
            overflow-y: scroll;
            max-height: 80svh;

            a[href="#"] {
                display: initial;
            }
        }
    }

    .footnote, .footnote:visited, .reversefootnote, .reversefootnote:visited {
        color: var(--accent);
        text-decoration: none;
    }

    footer {
        dl, dt, dd {
            display: inline;
        }

        > ol {
            list-style-position: inside;
            padding: 0;
        }

        li > p {
            display: inline;
        }
    }
}
