@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-bold-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-mono.woff2") format("woff2");
}


@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-mono-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-mono-bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/roboto-mono-bold-italic.woff2') format('woff2');
}
