@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    url("../fonts/roboto-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src:
    local("Roboto-Italic"),
    url("../fonts/roboto-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
    local("Roboto-Bold"),
    url("../fonts/roboto-bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src:
    local("Roboto-BoldItalic"),
    url("../fonts/roboto-bold-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto-Mono"),
    url("../fonts/roboto-mono.woff2") format("woff2");
}
