---
---
main {
    text-align: center;
    place-content: center;

    svg {
        height: 8rem;
        margin: auto;
    }

    h1+p {
        margin-bottom: 0;
        text-wrap: balance
    }

    h2 {
        margin-bottom: 0;
    }
}
